*{
    padding: 0;
    margin:0;
}

html, body{
    height:100%;
    width:100%;
}

body{
    background-color: #101010;;
}

.main{
    width: 25%;
    height: 670px;
    background: #2f2f2f;
    margin: 50px auto 0 auto;
    border-radius: 15px;
    box-shadow: 3px 3px 10px black;
    padding: 10px 0 0 0;
    box-sizing: border-box;
}

.tela{
    width: 90%;
    height: 70px;
    margin: 0 auto 0 auto;
    background: #5f5f5f;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: right;
    padding: 15px 5px 0 0;
    box-sizing: border-box
}

.teclas{
    margin: 50px 25px 25px 25px;
}

.numero{
    /* box-shadow: 0.2px 0.2px 1px black; */
    color: #ccc;
    background: #2f2f2f;
    cursor: pointer;
    box-sizing:border-box;
    padding: 20px 0 0 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin: 10px 0 0 20px;
    display: inline-block;
    height: 95px;
    width: 18%;
}

.numero:hover{
    background: #494949;
}


.zero, .igual{
    width: 40% !important;
}

@media (max-width: 1650px){
    .main{
        width: 30%;
    }
    
    .numero{
        width: 20%;
        margin-left:10px; 
    }
}

@media (max-width: 1300px){
    .main{
        width: 35%;
    }
    
}

@media (max-width: 1180px){
    .main{
        width: 40%;
    }
    .numero{
        width: 20%;
    }
}


@media (max-width: 1000px){
    .main{
        width: 50%;
    }
}

@media (max-width: 700px){
    .main{
        width: 70%;
    }
}